.container{
    width: 100;
    background-color: black;
}
.navbar{
    background-color: transparent;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: rgb(122, 122, 122);
}